#aboutPage {
  .hero-overlay {
    background-image: url('../assets/mountain.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    height: 100vh;

    .hero {
      background-color: rgba($color: #211200, $alpha: 0.1);
      height: 100vh;
    }
  }

  div.content {
    font-size: 1.4em;
    display: block;
    font-family: 'Montserrat';
    margin: 0 7.5vw;
    text-align: justify;
    padding-bottom: 3vh;

    &:after {
      content: "";
      display: table;
      clear: both;
    }

    img {
      margin: .3vw 2vw 1vw 0;
      width: 30vw;
      border: 2px solid #000000;
      float: left;
    }

    h1 {
      margin-top: 5vh;
      font-family: 'Raleway';
    }

    p {
      padding: 0;
      padding-bottom: .5vw;
      line-height: 1.6em;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1280px) {
  #aboutPage {
    div.content {
      img {
        width: 35vw;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  #aboutPage {
    div.content {
      text-align: left;

      img {
        width: 60vw;
        margin-top: 10vh;
        margin-left: 12.5vw;
        margin-bottom: 5vh;
      }

      p {
        width: 100%;
        margin-left: 2vw;
      }

      p:last-child {
        margin-left: 2vw;
      }
    }
  }
}

@media only screen and (max-width: 479px) {
  #aboutPage {
    div.content {
      img {
        width: 85vw;
        margin-top: 5vh;
        margin-left: 0;
      }
    }
  }
}
