footer.footer {
  min-height: 3em;
  background-color: black;
  padding: 3em 0;
  margin: 0;
  padding-left: 19.2vw;

  a {
    text-decoration: none;
    color: #ffffff;
    margin-left: 5vw;
    font-size: 1.8em;
    width: 9vw;
    display: inline-block;
    position: relative;
    text-align: center;

    &.active {
      display: none;
    }
  }
}

@media (max-width: 767px) {
  footer.footer {
    padding: 0;

    a {
      display: block;
      width: 100vw;
      padding: 1em 0;
      margin-left: 0;

      &:nth-child(2) {
        margin-left: 0vw;
      }
    }
  }
}
